<!DOCTYPE HTML>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <title>Picshare</title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements --> 
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]--> 

    <script id="commentTemplate" type="text/x-jquery-tmpl">
      <div class="comment-header">
        <div id="comment-header-name" class="inline"><strong>${name}</strong></div>
        <div id="comment-header-time" class="inline pull-right">
          <abbr class="timeago" title="${timeago}">${timeago}</abbr>
        </div>
      </div>
      <div class="clearfix" style="display: block;"></div>
      <div>
        ${text}
      </div>
    </script>
    
    <script id="newCommentFormTemplate" type="text/x-jquery-tmpl">
      <fieldset>
        <div class="clearfix">
          <div class="input">
            <input class="xxlarge pull-left" id="picture-comment-name" tabindex="1"
                  name="picture-comment-name" type="text" placeholder="Enter your name">
            <input type="submit" class="clearfix btn primary pull-right" value="Post Comment" tabindex="3">
          </div>
        </div>
        <div class="clearfix">
          <div class="input">
            <textarea class="xxxlarge" id="picture-comment-text" tabindex="2"
                      name="picture-comment-text" placeholder="Type your comment here"></textarea>
          </div>
        </div>
      </fieldset>
    </script>
    
    <script id="commentsTemplate" type="text/x-jquery-tmpl">
      <h5>Comments</h5>
      <div id="picture-comments-form"></div>
      <div id="picture-comments"></div>
    </script>
    
    <script id="pictureImageTemplate" type="text/x-jquery-tmpl">
      <img src="${src}"/>
    </script>
    
    <script id="pictureViewTemplate" type="text/x-jquery-tmpl">
      <div class="row">
        <div class="action-button-container">
          <span class="action-button action-button-prev"></span>
          <span class="action-button action-button-next"></span>
        </div>
        <div class="span16" id="picture-image-container">
        </div>
      </div>
      <div class="row picture-extra">
        <div>
          <div class="span16" id="picture-info-container"></div>
        </div>
      </div>
      <div class="row picture-extra">
        <div>
          <div class="span16" id="picture-comments-container"></div>
        </div>
      </div>
    </script>
        
    <script id="pictureInfoTemplate" type="text/x-jquery-tmpl">
      <fieldset>
        <div class="clearfix">
          <div class="input">
            <textarea class="xxlarge transparent-input pull-left" id="picture-description" 
                    name="picture-description" type="text"
                    placeholder="Enter a description for this picture.">${description}</textarea>
            <a href="" class="clearfix delete close pull-right">×</a>
          </div>
        </div>
      </fieldset>
      <div>
      </div>
    </script>

    <script id="thumbTemplate" type="text/x-jquery-tmpl">
      <div class="thumb-arrow"></div>
      <div href="" class="thumb">
        <div class="thumb-container hidden">
          <a href=""></a>
        </div>
        <div class="pgbar hidden"></div>
      </div>
    </script>

    <script id="thumbsTemplate" type="text/x-jquery-tmpl">
      <ul id="thumbs" class="rs-carousel-runner">
        
      </ul>
    </script>
    
    <script id="actionsTemplate" type="text/x-jquery-tmpl">
      {{each actions}}
      <a href="" class="${$value.toLowerCase()}">${$value}</a> {{if ($index + 1) !== actions.length}} | {{/if}} 
      {{/each}}
    </script>

    <script id="albumTemplate" type="text/x-jquery-tmpl">
      <div class="album-header">
        <input id="album-title-input" class="xlarge transparent-input" type="text" value="${title}">
        <div class="album-actions">
        
        </div>
      </div>
      <div id="thumbs-container">
      </div>
      <div class="container">
        <div class="hero-unit hidden" id="empty-album">
          <p><a class="btn primary xxlarge upload" href="">FEED ME!</a></p>
        </div>
        <div id="full-size">
        
        </div>
        <div id="grid-container">
        
        </div>
      </div>
    </script>

    <script id="deletePictureModalTemplate" type="text/x-jquery-tmpl">
      <div class="modal fade">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3>Delete Picture?</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this picture?</p>
          <img src="${thumb}" class="delete-thumb"/>
        </div>
        <div class="modal-footer clearfix">
          <a href="#" class="btn danger button1">Yes, make it go away!</a>
          <a href="#" class="btn secondary button2">Nooooo, I luvz it!</a>
        </div>
      </div>
    </script>

    <script id="deleteAlbumModalTemplate" type="text/x-jquery-tmpl">
      <div class="modal fade">
        <div class="modal-header">
          <a href="#" class="close">×</a>
          <h3>Delete Album?</h3>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this album?</p>
        </div>
        <div class="modal-footer">
          <a href="#" class="btn danger button1">Yes, make it go away!</a>
          <a href="#" class="btn secondary button2">Nooooo, I luvz it!</a>
        </div>
      </div>
    </script>

    <script id="contributeModalTemplate" type="text/x-jquery-tmpl">
      <div class="modal contribute-modal">
        <div class="modal-body">
          <div class="row">
            <div class="span3">
              <h3>Register</h3>
              <p>
                If you do not have an account on Picshare yet, you can register for one
                to get the best user experience.
              </p>
            </div>
            <div class="span3">
              <h3>Sign In</h3>
              <p>
                If you already have an account on Picshare, just sign in now.
              </p>
            </div>
            <div class="span3">
              <h3>Contribute</h3>
              <p>
                If you do not want to create an account, you can just enter a name to 
                be used for this session (to let others know who is uploading and
                commenting on pictures).
              </p>
              <div class="input">
                <input id="entername-input" type="text" class="span3" placeholder="Anonymous User"/>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="span3">
              <a href="#" class="btn primary register">Register</a>
            </div>
            <div class="span3">
              <a href="#" class="btn primary signin">Sign In</a>
            </div>
            <div class="span3">
              <a href="#" class="btn primary contribute">Enter a name</a>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script id="signinDropdownTemplate" type="text/x-jquery-tmpl">
      <li class="dropdown signin-dropdown" data-dropdown="dropdown" id="signin-dropdown">
        <a href="" class="dropdown-toggle">Sign in</a>
        <ul class="dropdown-menu">
          <li>
            <button type="button" class="btn info social-login-button">
              <img src="/images/twitter_login.png" alt="Twitter Icon" class="social-icon">
              <span class="text">Sign In With Twitter</span>
            </button>
          </li>
          <li>
            <button type="button" class="btn info social-login-button">
              <img src="/images/facebook_login2.png" alt="Facebook Icon" class="social-icon">
              <span class="text">Sign In With Facebook</span>
            </button>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li>
            <input type="text" name="username" placeholder="username" class="username">
          </li>
          <li>
            <input type="password" name="password" placeholder="password" class="password">
          </li>
          <li>
            <button type="submit" class="btn primary sign-in-button">Sign In</button>
          </li>
          <li>
            <div class="divider"></div>
          </li>
          <li class="register-item">
            <a href="#" class="register">No account? Register.</a>
          </li>
        </ul>
      </li>
    </script>

    <script id="signedinDropdownTemplate" type="text/x-jquery-tmpl">
      <li class="dropdown signin-dropdown hidden" data-dropdown="dropdown" id="signedin-dropdown">
        <a href="" class="dropdown-toggle" id="user-info">Sign in</a>
        <ul class="dropdown-menu">
          <li><a href="#/account">Account Settings</a></li>
          <li>
            <div class="divider"></div>
          </li>
          <li><a href="#/logout" class="logout">Log out</a></li>
        </ul>
      </li>
    </script>
    
    <script id="dropOverlayTemplate" type="text/x-jquery-tmpl">
      <div id="drop-overlay"></div>
    </script>
 
    <!-- Le styles --> 
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-1.4.0.css">
    <link rel="stylesheet" href="/stylesheets/master.css" type="text/css" media="screen" title="no title">
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/themes/base/jquery.ui.all.css" type="text/css" media="screen" title="no title">
    
    
    <!-- Le splunk -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
    <script type="text/javascript" src="http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.15/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-modal.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-dropdown.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.autoresize.js"></script>
    <script type="text/javascript" src="/javascripts/date.format.js"></script>
    <script type="text/javascript" src="/javascripts/underscore.js"></script> 	
    <script type="text/javascript" src="/javascripts/underscore.string.js"></script>
    <script type="text/javascript" src="/javascripts/backbone.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.fileupload.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.rs.carousel.js"></script> 
    <script type="text/javascript" src="/javascripts/keymaster.js"></script>
    <!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.1.7/underscore-min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.string/1.1.4/underscore.string.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/0.5.3/backbone-min.js"></script> -->
       
    <script type="text/javascript" src="/javascripts/models.js"></script>
    <script type="text/javascript" src="/javascripts/views.js"></script>
 
    <!-- Le fav and touch icons --> 
    <link rel="shortcut icon" href="images/favicon.ico"> 
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png"> 
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png"> 
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png"> 
    
    <link rel="stylesheet/less" href="/stylesheets/style.less">
    <script src="/javascripts/less.js"></script>
    
    <script type="text/javascript">
      $(document).ready(function() {   
        var app = new PicshareApp();
        
        app.user = new User();
        app.user.fetch({
          success: function() {
            App.events.trigger("user:changed", app.user);
            Backbone.history.start();
          },
          error: function() {
            console.log("ERROR WITH USER", arguments);
          }
        });
      });
    </script>
  </head>
  
  <body>
    
    <div class="topbar" id="navbar"> 
      <div class="fill"> 
        <div class="container-fluid"> 
          <h3><a href="#">Picshare</a></h3> 
          <ul> 
            <li class="active"><a href="#/new">New</a></li> 
          </ul> 
          <ul class="nav secondary-nav">
          </ul>
        </div> 
      </div> 
    </div>
    
    <div class="container hidden">
      <div class="hero-unit" id="main-hero">
        <h1>Sharing, meet collaboration.</h1>
        <p>Picshare allows you to share and collaborate on your photos with your friends.</p>
        <p><a class="btn primary large" href="#/new">Click here to start »</a></p>
      </div>
    </div>
    
    <div id="album-container">      
    </div>
    
    <div id="file-upload" class="modal fade">
      <div class="modal-header">
        <a href="#" class="close">×</a>
      </div>
      <div class="modal-body">
        <div id="upload-text">Drag or click to upload pictures</div>
        <input id="upload-input" type="file" name="files[]" multiple>
      </div>
    </div>

    <!--<div class="container-fluid" id="footer-container">
      <footer> 
        <p>&copy; Picshare 2011</p> 
      </footer> 
    </div>-->
  </body>
</html>
