
// Fixed heights
@navBarHeight: 40px;
@albumHeaderHeight: 30px;
@thumbBarHeight: 105px;

// Colors
@backgroundColor: #EDF6F8;
@highlightColor: darken(@backgroundColor, 60%);



body {
  padding-top: @navBarHeight + @albumHeaderHeight + @thumbBarHeight;
}

////////// Utility Classes //////////

.inline {
  display: inline;
}

.hidden {
  display: none;
}

/////////////////////////////////////

///////// Transparent Input /////////


.transparent-input {
  border: 0px;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 0px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 0px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1), 0 0 0px rgba(82, 168, 236, 0.6);
  background: transparent;
}

.transparent-input:hover {
  outline: none;
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 8px rgba(82, 168, 236, 0.6);
}

.transparent-input:focus {
  background: whiteSmoke;
}

/////////////////////////////////////

////////// Comment Classes //////////

// Comments container
#picture-comments-container {
  
  // Comment form  
  textarea#picture-comment-text {
    resize: none;
    overflow-y: hidden;
    width: 99%;
    padding-left: 4px;
    padding-right: 0px;
  }
  
  // Individual comment style
  .picture-comment {
    margin-top: 20px;
    margin-bottom: 5px;
    
    .comment-header {
      background-image: url("http://mediacdn.disqus.com/1315541406/images/themes/narcissus/header-grey.png");
      background-color: transparent;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      height: 100%;
      padding: 10px;
    }
  }
}

/////////////////////////////////////


////////// Full-Size Image //////////

#full-size {

  .content {
    @actionButtonWidth: 30px;
    @actionButtonHeight: 48px;
    @actionButtonMargin: 10px;
    @totalWidth: 940px;
    
    background: @backgroundColor;
    padding-top: 10px;
    margin-top: 10px;
  
  
    // Styles for full size image
    .full-size-image {
      width: 100%; 
      position: relative;
        
      img {
        display: block;
        max-height: 614px;
        max-width: 920px;
        margin: 1px auto;
      }
      
      .action-button {
        position: absolute;
        //top: 50%; // <-- This will vertically center it, which is not good right now
        top: 110px;
        width: @actionButtonWidth;
        height: @actionButtonHeight;
        margin: 0px;
        z-index: 100;
        opacity: 0.4;
      }
      .action-button:hover {
        opacity: 1.0;
      }
      
      .action-button-next {
        left: @totalWidth + @actionButtonMargin;
        background: url(/images/action-next.png) no-repeat 0 0;
      }
      
      .action-button-prev {
        left: -@actionButtonMargin - @actionButtonWidth;
        background: url(/images/action-prev.png) no-repeat 0 0;
      }
    }
    
    // Styles for image info
    .form-stacked {
      padding-left: 0px;
    }
    
    textarea#picture-description {
      resize: none;
      width: 100%;
      display: block;
      padding-left: 0px;
      padding-right: 0px;
      overflow-y: hidden;
    }
  } 
}
      
.last-picture .action-button-next {
  display: none;
}
.first-picture .action-button-prev, {
  display: none;
} 

/////////////////////////////////////


////////// Full-Size Image //////////

.album-header {
  @albumHeaderMargin: 5px;
  
  position: fixed;
  width: 100%;
  top: @navBarHeight;
  height: @albumHeaderHeight;
  left: auto;
  right: auto;
  background: @backgroundColor;
  z-index: 1000;
  
  input {
    float: left;
    padding: 0px;
    width: 50%;
    border: 0px;
    font-weight: bold;
    color: #404040;
    margin-left: @albumHeaderMargin;
    margin-top: @albumHeaderMargin;
    
    font-size: 11pt;
    line-height: 21px;
    height: 21px;
  }
  
  .album-actions {
    float: right;
    margin-right: 5px;
    margin-top: 5px;
  }
}

/////////////////////////////////////


///////////// Thumbnails ////////////

#thumbs-container {
  @thumbWidth: 90px;
  @thumbHeight: 90px;
  
  @progressBarHeight: 15px;
  
  position: fixed;
  top: @navBarHeight + @albumHeaderHeight;
  height: @thumbBarHeight;
  left: auto;
  right: auto;
  width: 100%;
  background: @backgroundColor;
  z-index: 1000;
  overflow-x: auto;
  overflow-y: hidden;
  
  .pgbar {
    height: @progressBarHeight;
    margin-top: (@thumbHeight / 2) - (@progressBarHeight / 2);
  }

  ul#thumbs li {
    padding: 0px;
    margin: 5px 5px 5px 0px;
  }

  div.thumb {
    display: block;
    padding: 2px 2px 0px 2px;
    margin-bottom: -2px;
    width: @thumbWidth;
    height: @thumbHeight;
  }

  div.thumb-container img {
    width: @thumbWidth;
    height: @thumbWidth;
    cursor: pointer;
    margin-bottom: 2px;
  }

  .thumb-selected div.thumb-container img {
    margin: -3px;
    border: 3px solid @highlightColor;
  }  
}


/////////////////////////////////////


//////////// Drop/Upload ////////////

#drop-overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 150000;
}

#file-upload {
  display: none;
  
  .modal-header {
    border-bottom: 0px;  
    a.close {      
      float: none;
      position: absolute;
      top: 0px;
      right: 0px;
      margin-right: 10px;
      z-index: 1100000;
    }
  }
  
  .modal-body {
    position: relative;
    
    #upload-text {
      position: absolute;
      top: 50%;
      text-align: center;
      left: 0;
      right: 0;
      z-index: 0;
    }
  }
  
  input {
    z-index: 1000000;
    opacity: 0.0;
    width: 100%;
    height: 200%;
  }
}

/////////////////////////////////////


///////////// Carousel //////////////

/* carousel */
.rs-carousel {
  overflow: hidden;
  margin-left: 5px;
  margin-right: 5px;
}
    
.rs-carousel .rs-carousel-mask {
  position:relative;
  overflow:hidden;
  /*border:6px solid #444;*/
  }

.rs-carousel .rs-carousel-runner {
  position: absolute;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  height: 105px;
}

.no-js .rs-carousel .rs-carousel-runner {
  position: static;
}

.rs-carousel .rs-carousel-item {
  float: left;
  color: #fff;
  font-size: 8em;
  text-align: center;
  margin: 0;
}

.rs-carousel.rs-carousel-vertical .rs-carousel-item {
  float: none;
}

/* pagination */
.rs-carousel-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
}

.rs-carousel-disabled .rs-carousel-pagination {
  display: none;
}

.rs-carousel-pagination-link {
  display: inline;
}

.rs-carousel-pagination-link a {
  padding: 2px 6px;
}

.rs-carousel-pagination-link a:hover {
  text-decoration: none;
}

.rs-carousel-pagination-link-active a {
  background: #444;
  color: #fff;
}

#thumb-carousel {
  opacity: 1.0;
}

.rs-carousel-mask {
  height: @thumbBarHeight;
}

/* next & prev actions */
.rs-carousel-action-disabled {
  display: none;
}

.rs-carousel-action-disabled {
  color: gray;
  cursor: default;
}

.rs-carousel-disabled .rs-carousel-action-next,
.rs-carousel-disabled .rs-carousel-action-prev {
  display: none;
}   

@carouselActionWidth: 36px;
@carouselActionHeight: 36px;

.rs-carousel-action-next:hover {
  background-position: -@carouselActionWidth -@carouselActionHeight;
}
.rs-carousel-action-prev:hover {
  background-position: 0px -@carouselActionHeight;
}

.rs-carousel-action-next {
  position: absolute;
  top: (@thumbBarHeight / 2 - 36 / 2);
  right: 10px;
  z-index: 100;
  width: @carouselActionWidth;
  height: @carouselActionHeight;
  text-indent: -999999px;
  background: url(/images/nav.png) no-repeat -36px 0px;
  cursor: pointer;
  font-size: 0px;
}
  
.rs-carousel-action-prev {
  position: absolute;
  top: (@thumbBarHeight / 2 - 30 / 2);
  left: 10px;
  z-index: 100;
  width: @carouselActionWidth;
  height: @carouselActionHeight;
  text-indent: -999999px;
  background: url(/images/nav.png) no-repeat 0 0px;
  cursor: pointer;
  font-size: 0px;
}